[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pyfakefs = "*"
parameterized = "*"

[scripts]
app = "python ./src/main.py"
test = "python -m unittest ./src/resolver_test.py"

[requires]
python_version = "3.11"
